/* comment*/
/* Element selector*/
body{
    margin:0px;
}
header{
    background-color: lightblue;
    border: 2px solid brown;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}
h1{
    display: inline;
    padding-left: 60px;
}
ul,li{display: inline;}

a{
    border: 5px solid lightseagreen;
    padding: 10px;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 300px;
    /* margin: auto; */
    background-color: burlywood;

    /* display: block; */
    border-radius: 10px;
}

img{
    width:200px;
    height: 200px;
    border-radius: 50%;
}
Div{
    background-color:lightseagreen;
    /* display: inline; */
    border: 5px solid coral;
    margin: 10px;
}
section{
    display: inline;
}

